.title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 136px;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--primary-color);
  margin-right: 468px;
}
