:root {
  --primary-color: #f2f2f2;
  --secondary-color: #2749ff;
  --accent-color: #e5f743;

  --side-margin: 12.5rem;

  background: radial-gradient(50% 50% at 50% 50%, #2f2f2f 0%, #161616 100%);
}

* {
  margin: 0;
  padding: 0;
}
