:root {
  --primary-color: #f2f2f2;
  --secondary-color: #1238ff;
  --accent-color: #e5f743;

  --primary-font: Moret;
  --accent-font: Interstate;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background: radial-gradient(50% 50% at 50% 50%, #2f2f2f 0%, #161616 100%);
  height: 100%;
}
